%titleStyle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
}

%textStyle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #363431;
}

.bystatus {

    .date {
        margin: 10px 0 5px 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #000000;

        .month {
            margin-right: 20px;
        }

        .icon_left,
        .icon_right {
            cursor: pointer;
            margin: 0 20px;
        }
    }

    .category_colum {

        text-align: center;

        .UnComplete {
            display: inline-block;
            width: 30%;
            float: left;

            .UnComplete_title {
                color: #F96651;
                padding-bottom: 10px;
                @extend %titleStyle;
                border-bottom: 2px solid #F96651;
            }

            .UnComplete_data {
                overflow-y: auto;
                height: 333px;
                margin-top: 10px;

                .category_colum_item {
                    border: 1px solid #ccc;
                    margin-top: 1vh;
                    border-radius: 10px;
                    min-height: 10vh;
                    background-color: #ff624e;
                    @extend %textStyle;
                    padding: 4px;
                }
            }
        }

        .Completed {
            display: inline-block;
            width: 30%;

            .Completed_title {
                color: #4D72D1;
                padding-bottom: 10px;
                @extend %titleStyle;
                border-bottom: 2px solid #4D72D1;
            }

            .Completed_data {
                overflow-y: auto;
                height: 333px;
                margin-top: 10px;

                .category_colum_item {
                    border: 1px solid #ccc;
                    margin-top: 1vh;
                    border-radius: 10px;
                    min-height: 10vh;
                    background-color: #7085bb;
                    @extend %textStyle;
                    padding: 4px;
                }
            }
        }

        .Stopped {
            display: inline-block;
            width: 30%;
            float: right;

            .Stopped_title {
                color: #F2C94C;
                @extend %titleStyle;
                padding-bottom: 10px;
                border-bottom: 2px solid #F2C94C;
            }

            .Stopped_data {
                overflow-y: auto;
                height: 333px;
                margin-top: 10px;

                .category_colum_item {
                    border: 1px solid #ccc;
                    margin-top: 1vh;
                    border-radius: 10px;
                    min-height: 10vh;
                    background-color: #e9cd79;
                    @extend %textStyle;
                    padding: 4px;
                }
            }
        }
    }
}